<div class="container-fluid vh-100 vw-100 overflow-hidden page">
  <div class="row">

    <div class="col-2">
      <div class="text-center justify-content-center" *ngFor="let singleUser of users; let i = index;">
        <div *ngIf="!singleUser.pair">
          <div class="card-photo">
            <img src="{{singleUser.photo}}" (click)="tryAgain(i);" class="Photo">
          </div>
        </div>
      </div>
    </div>

    <div class=" col-8">
      <div class="row min-vh-100 justify-content-center align-items-center">
        
        <div class="col-12 text-center">
          
          <div class="row justify-content-center">
            <h1 class="col-6 title">WHO I AM ?</h1>
          </div>
          
          
          <div class="row">

            <div class="col-4">
              <div class="row justify-content-end">
                <div class="aile aileR" id="rep1">{{genreSelected | uppercase}}</div>
              </div>
              <div class="row justify-content-end">
                <div class="aile aileR" id="rep2">{{nameSelected | uppercase }}</div>
              </div>
              <div class="row justify-content-end">
                <div class="aile aileR" id="rep3">{{countrySelected | uppercase }}</div>
              </div>
            </div>

            <div class="card col-4 cardSelected">
              <div class="position-relative">
                <img class="card-img-top " src="{{ getPhoto() }}" alt="Card image cap">
                <label class="label col" id="label">Male or Female ?</label>
              </div>
              
              <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputWhoGenre" name="inputWhoGenre" ngModel [(ngModel)] = "genreSelected">
                    <input type="text" class="d-none form-control" id="inputWhoName" name="inputWhoName" ngModel [(ngModel)] = "nameSelected">
                    <input type="text" class="d-none form-control" id="inputWhoCountry" name="inputWhoCountry" ngModel [(ngModel)] = "countrySelected">
                    <div class="input-group-append">
                      <button type="submit" id="submit" class="btn btn-dark">Send</button>
                    </div>
                  </div>
                  <div class="justify-content-center">
                    <button type="button" class="btn btn-danger d-none" id="retry" (click)="tryAgain()">Try Again</button>
                  </div>
                </form>
              </div>
            </div>
            
            <div class="col-4">
              <div class="row justify-content-start">
                <div class="aile aileL" id="reponseGenre"></div>
              </div>
              <div class="row justify-content-start">
                <div class="aile aileL" id="reponseName"></div>
              </div>
              <div class="row justify-content-start">
                <div class="aile aileL" id="reponseCountry"></div>
              </div>
            </div>

          </div>
          
        </div>

      </div>
    </div>

    <div class="col-2">
      <div class="text-center justify-content-center" *ngFor="let singleUser of users; let i = index;">
        <div *ngIf="singleUser.pair">
          <div class="card-photo">
            <img src="{{singleUser.photo}}" (click)="tryAgain(i);" class="Photo">
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>



