*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page{
    background-image: url("../../assets/img/BACKGROUND.jpg");
    min-width: 1280px;
}

.col{
    padding: 0px;
}

.title{
    background-color: #fafafa;
    line-height: 80px;
    font-size: 80px;
    letter-spacing: 10px;
    margin: 0px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #333;
    padding: 20px;
    border: 3px solid #eee;
    margin-bottom: 10px;
}

.Photo{
    width: 100%; /* ou 80 */
}

.card-photo{
    background-color: #fafafa;
    justify-content: center;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #eee;
    transition: all 0.1s ease-in-out;
}

.card-photo:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}


.aileR{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: 3px solid #eee;
}

.aileL{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 3px solid #eee;
}

.aile{
    color: #333;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
    height: 80px;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;

    margin-bottom: 10px;
    margin-top: 20px;
}

#rep1 , #reponseGenre{
    width: 100%;
}

#rep2 , #reponseName{
    width: 80%;
}

#rep3 , #reponseCountry{
    width: 60%;
}

.card-selected{
    background-color: #fafafa;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
}

.label{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left:0px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin:0px;
    /*border-radius: 40px 40px 0px 0px ;*/
    background:rgba(0, 0, 0, 0.35);
}

.form-selected{
    width: 100%;
    color: #333;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background: white;
    height: 80px;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
}

.cardSelected{
    padding-top: 15px;
    border: 3px solid #eee;
}
